main {
  border: 1px solid black;
  height: 650px;
  width: 1000px;
  margin: auto;
}
header {
  border: 1px solid red;
  height: 110px;
  width: 1000px;
  margin: auto;
}
nav {
  border: 1px solid blue;
  height: 80px;
  width: 1000px;
  margin: auto;
}
section {
  border: 1px solid red;
  height: 340px;
  width: 1000px;
  margin: auto;
}
footer{
  border: 1px solid blue;
  height: 112px;
  width: 1o00px;
  margin: auto;
}
