main {
  border: 2px solid rgb(0, 13, 114);
  height: 650px;
  width: 1000px;
  margin: auto;
}
header {
  border: 2px solid rgb(0, 13, 114);
  height: 110px;
  width: 1000px;
  background-color:aqua;
}

header ul li{
  font-size: 2em;
  float: left;
}
nav {
  border: 1px solid blue;
  height: 80px;
  width: 1000px;
  margin: 5px 0px 5px 0px;
}

ul li{
  border: 1px solid black;
  float: left;
  margin-right: 177px;
}
section {
  border: 1px solid red;
  height: 340px;
  width: 1000px;
  margin: auto;
}
footer{
  border: 1px solid blue;
  height: 112px;
  width: 1000px;
  margin: auto;
}
aside{
  border: 1px solid red;
  height: 340px;
  width: 400px;
  float: left;
}
article{
  border: 1px solid black;
  height: 100px ;
  width: 590px;
  float: left;
}